body {
	margin:0;
}

.left {
	display: inline-block;
	width:80%;
	vertical-align: top;
	background: grey;
	margin: 0;
	font-size:10px;
}

.right{
	display: inline-block;
	width: 20%;
	background:red;
	margin: 0;
	font-size:10px;
}